<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic Services</title>
</head>
<body>
    <h1>Electronic Services</h1>
    <ul>
        <% Electric.forEach(function(electronic) { %>
            <li>
                <strong>Business Name:</strong> <%= electronic.BusinessName %><br>
                <strong>Email:</strong> <%= electronic.Email %><br>
                <strong>Contact:</strong> <%= electronic.Contact %><br>
                <strong>Location:</strong> <%= electronic.Location %><br>
                <strong>Availability:</strong> <%= electronic.Availability %><br>
                <strong>Service Information:</strong> <%= electronic.Serviceinfo%><br>
                <strong>Rating:</strong> <%= electronic.rating%>
            </li>
        <% }); %>
    </ul>
</body>
</html>
